<template>
  <div class="container">
    <h1 class="title">{{actionTitle}}</h1>
    <div class="main-dropdowns">
      <model-filter :brand="brand" :model="model" v-model="carInfo"></model-filter>
      <app-drop-down
        :originalValue="selectedYear"
        :placeholder="consts.Year"
        v-model="selectedYear"
        :selects="years"
      ></app-drop-down>
      <app-drop-down
        :originalValue="fuelType"
        :placeholder="consts.FuelType"
        v-model="fuelType"
        :selects="enums.FuelTypes"
      ></app-drop-down>
      <app-drop-down
        :originalValue="transmission"
        :placeholder="consts.Transmission"
        v-model="transmission"
        :selects="enums.Transmissions"
      ></app-drop-down>
    </div>
    <transition name="slide-fade">
      <div class="error dropdown-error" v-if="areDropdownsNotFilled && error">Fields must be filled</div>
    </transition>
    <b-btn v-b-toggle.collapse class="m-1">Choose color</b-btn>
    <div class="color-container">
      <b-collapse id="collapse">
        <color-picker class="color-picker" v-model="color"/>
      </b-collapse>
    </div>
    <transition name="slide-fade">
      <div class="error dropdown-error" v-if="!$v.color.required && error">Please choose color</div>
    </transition>
    <app-input
      class="creation-input"
      :text="consts.Price"
      v-model="price"
      :maxLength="consts.MaxLength"
    ></app-input>
    <transition name="slide-fade">
      <div class="error" v-if="!$v.price.required && error">Field is required</div>
      <div class="error" v-if="!$v.price.integer && error">Field must be number</div>
      <div class="error" v-if="!$v.price.positive && error">Number must be positive</div>
    </transition>
    <app-input class="creation-input" :text="consts.Engine" v-model="engine"></app-input>
    <transition name="slide-fade">
      <div class="error" v-if="!$v.engine.required && error">Field is required</div>
      <div
        class="error"
        v-if="!$v.engine.correctEngineValue && error"
      >Engine value must be in litres. Example: "5.0"</div>
    </transition>
    <app-input
      class="creation-input"
      :text="consts.Mileage"
      v-model="mileage"
      :maxLength="consts.MaxLength"
    ></app-input>
    <transition name="slide-fade">
      <div class="error" v-if="!$v.mileage.required && error">Field is required</div>
      <div class="error" v-if="!$v.mileage.integer && error">Field must be number</div>
      <div class="error" v-if="!$v.mileage.positive && error">Number must be positive</div>
    </transition>
    <h5>Images</h5>
    <h6 v-if="images.length >= 2">Choose main image</h6>
    <span v-for="(image, index) in getImages" :key="index">
      <img
        :ref="'img' + index"
        @load="onImageCreate(index, image)"
        class="thumbnail"
        :src="image"
        :alt="image"
      >
      <icon @click="removeOriginalImage(index)" :icon="'times'" class="remove-icon"/>
    </span>
    <vue-dropzone
      @vdropzone-success="addFileLink"
      @vdropzone-removed-file="removeFileLink"
      class="dropzone"
      ref="dropzone"
      id="dropzone"
      :duplicateCheck="true"
      :options="dropzoneOptions"
    ></vue-dropzone>
    <b-form-textarea
      id="description-area"
      v-model="description"
      placeholder="Description"
      :rows="3"
      :max-rows="6"
      class="creation-input text-area"
    ></b-form-textarea>
    <app-button @click="saveAd"></app-button>
  </div>
</template>

<script>
import api from "../../api";
import AppButton from "../Basic/AppButton";
import AppDropDown from "../Basic/AppDropDown";
import AppInput from "../Basic/AppInput";
import DropZone from "./DropZone";
import BrandModelFilter from "./ModelFilter";
import { Compact } from "vue-color";
import { routes, routeNames } from "../../router/routes";
import { integer, required } from "vuelidate/lib/validators";
import { enums } from "../../enums/enums";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

const consts = {
  Year: "Choose year",
  Price: "Price",
  FuelType: "Fuel type",
  Engine: "Engine",
  Transmission: "Transmission",
  Mileage: "Mileage",
  Color: "Color",
  Description: "Description",
  MaxLength: 8,
  UploadUrl: "../Advertisment/UploadImage",
  CreateTitle: "Create new advertisment",
  EditTitle: "Edit the advertisment"
};

//const notTrimEmpty = value => value.trim() != "";
const correctEngineValue = value => value >= 0.1 && value <= 20;
const positive = value => value >= 0;

export default {
  components: {
    AppDropDown: AppDropDown,
    AppButton: AppButton,
    AppInput: AppInput,
    DropZone: DropZone,
    "color-picker": Compact,
    vueDropzone: vue2Dropzone,
    ModelFilter: BrandModelFilter
  },
  validations: {
    carInfo: {
      required
    },
    selectedYear: {
      required,
      integer
    },
    price: {
      required,
      integer,
      positive
    },
    engine: {
      required,
      correctEngineValue
    },
    transmission: {
      required
    },
    mileage: {
      required,
      integer,
      positive
    },
    fuelType: {
      required
    },
    color: {
      required
    }
  },
  props: {
    isEdit: {
      type: Boolean,
      required: true
    }
  },
  created: function() {
    if (this.$store.getters.getUserName == "") {
      this.$router.push({ name: routeNames.NotFound });
    }

    var id = this.$route.params.id;
    if (id != null) {
      api.advertisment.get.getAdvertisment(id).then(response => {
        this.advert = response.data;
      });
    }
  },
  computed: {
    getImages() {
      return this.advert == null ? [] : this.advert.images;
    },
    actionTitle() {
      return this.isEdit ? consts.EditTitle : consts.CreateTitle;
    },
    getUrl() {
      return this.$route.path;
    },
    areDropdownsNotFilled() {
      return (
        this.carInfo.model == "" ||
        this.$v.selectedYear.$invalid ||
        this.$v.fuelType.$invalid ||
        this.$v.transmission.$invalid
      );
    },
    shiftedImages() {
      var arr =
        this.advert == null
          ? this.images
          : this.images.concat(this.advert.images);
      if (this.mainImage != "") {
        var main_image = arr[arr.indexOf(this.mainImage)];
        arr.splice(arr.indexOf(main_image), 1);
        arr.unshift(main_image);
      }

      return arr;
    }
  },
  data() {
    return {
      advert: null,
      brand: "",
      model: "",
      carInfo: { brand: "", model: "" },
      years: this.$store.getters.getYears,
      selectedYear: "",
      price: "",
      engine: "",
      transmission: "",
      mileage: "",
      fuelType: "",
      color: "",
      description: "",
      images: [],
      consts: consts,
      routes,
      routeNames,
      error: false,
      enums,
      acceptedFiles: [],
      dropzoneOptions: {
        url: consts.UploadUrl,
        addRemoveLinks: true
      },
      mainImage: 0
    };
  },
  watch: {
    advert: function() {
      var advert = this.advert;
      if (advert != null) {
        this.brand = advert.brand;
        this.model = advert.carModel;
        this.selectedYear = advert.carYear;
        this.price = advert.carCost;
        this.engine = advert.engine;
        this.transmission = advert.transmission;
        this.mileage = advert.mileage;
        this.fuelType = advert.fuelType;
        this.carYear = advert.carYear;
        this.color = advert.carColor;
        this.description = advert.description;
      }
    },
    getUrl: function() {
      Object.assign(this.$data, this.$options.data.apply(this));
    }
  },
  methods: {
    addFileLink(file, response) {
      this.acceptedFiles = this.$refs.dropzone.getAcceptedFiles();
      this.images.push(response);
      file.previewElement.addEventListener("click", () => {
        this.imageSelector(response);
        var elems = document.querySelectorAll(".main-image");
        [].forEach.call(elems, function(el) {
          el.classList.remove("main-image");
        });
        file.previewElement.classList.add("main-image");
      });
    },
    removeFileLink(file) {
      var index = this.acceptedFiles.indexOf(file);
      if (index !== -1) {
        if (this.images[index] == this.mainImage) {
          this.mainImage = "";
        }
        this.acceptedFiles.splice(index, 1);
        this.images.splice(index, 1);
      }
    },
    removeOriginalImage(index) {
      if (this.advert != null) {
        if (this.advert.images[index] == this.mainImage) {
          this.mainImage = "";
        }
        this.advert.images.splice(index, 1);
      }
    },
    onImageCreate(index, image) {
      var img = this.$refs["img" + index][0];
      img.addEventListener("click", () => {
        this.imageSelector(image);
        var elems = document.querySelectorAll(".main-image");
        [].forEach.call(elems, function(el) {
          el.classList.remove("main-image");
        });
        img.classList.add("main-image");
      });
    },
    imageSelector(image) {
      this.mainImage = image;
    },
    saveAd() {
      var data = {
        AdvertismentId: this.$route.params.id,
        CarModelId: this.carInfo.model,
        Description: this.description,
        CarYear: this.selectedYear,
        CarCost: this.price,
        FuelType: this.fuelType,
        Engine: this.engine,
        Mileage: this.mileage,
        CarColor: this.color.hex == null ? this.color : this.color.hex,
        Images: this.shiftedImages,
        Transmission: this.transmission
      };
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.isEdit) {
          api.advertisment.post.updateAd(data).then(response => {
            this.$router.push({
              name: routeNames.AdvertPage,
              params: { id: this.$route.params.id }
            });
          });
        } else {
          api.advertisment.post.createAd(data).then(response => {
            this.$router.push({
              name: routeNames.AdvertPage,
              params: { id: this.$route.params.id }
            });
          });
        }
      } else {
        this.error = true;
      }
    }
  }
};
</script>

<style>
.container {
  margin-top: 50px;
}

.thumbnail {
  border: solid black 2px;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.remove-icon {
  color: red;
  position: absolute;
  margin-top: 5px;
  margin-left: -42px;
  cursor: pointer;
}

.main-dropdowns {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 30px;
}

.color-container {
  margin-bottom: 10px;
}

.creation-input {
  width: 300px;
}

.dropzone {
  width: 750px;
  margin-bottom: 10px;
}

.text-area {
  margin-bottom: 10px;
}

.color-picker {
  width: 300px !important;
}

.error {
  width: 300px;
  margin: initial;
  color: #ff2f0f;
  font-size: 0.75rem;
  line-height: 1;
  margin-top: -0.9rem;
  margin-bottom: 0.9375rem;
  background-color: lightgrey;
  padding: 5px;
  transition: cubic-bezier(1, -0.55, 0.25, 1.5);
}

.main-image {
  border: green solid 3px;
}

.dropdown-error {
  margin-top: -0.5rem;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>