<template>
  <div class="advert-container d-flex justify-content-center">
    <div class="header">
      <span>{{advert.brand}}</span>
      <span>{{advert.carModel}}</span>
      <span>{{advert.carYear}}</span>
    </div>
    <div class="header-sm">
      <span>Created on {{creationDate}}</span>
      <span>{{advert.views}} views</span>
      <span>(+{{advert.todayViews}} today)</span>
    </div>
    <div class="row">
      <div class="col-sm-5 advert-info">
        <div class="card-car card-lonely card-info">
          <div>Price: ${{advert.carCost}}</div>
          <div>
            Color:
            <span class="color-icon" :style="{ background: advert.carColor }"></span>
          </div>
          <div>Fuel type: {{advert.fuelType}}</div>
          <div>Mileage: {{advert.mileage}} km</div>
          <div>Transmission: {{advert.transmission}}</div>
          <div>Engine: {{advert.engine}} L</div>
          <div>Owner: {{advert.owner}}</div>
          <div>Phone number: {{advert.phoneNumber}}</div>
        </div>
      </div>
      <div class="col-sm-6 img-container">
        <b-carousel
          id="carousel"
          style="carousel"
          controls
          indicators
          :background="carouselStyle.background"
          :interval="carouselStyle.interval"
          v-model="slide"
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd"
        >
          <b-carousel-slide
            @click.native="enlargeImg(placeholderImage)"
            v-if="advert.images.length == 0"
            :img-src="placeholderImage"
          ></b-carousel-slide>
          <b-carousel-slide
            @click.native="enlargeImg(image)"
            v-for="(image, index) in advert.images"
            :key="index"
            :img-src="image"
          ></b-carousel-slide>
        </b-carousel>
      </div>
    </div>
    <div class="card-car card-lonely card-bottom" data-aos="fade-up">
      <div class="description-header">Description</div>
      <p class="description">{{advert.description}}</p>
    </div>
    <div id="myModal" class="modal-image hidden">
      <span class="close-button">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>
  </div>
</template>

<script>
import api from "../../api";
const placeholderImage =
  "https://s3.eu-central-1.amazonaws.com/carheaven/placeholder.png";

const carouselStyle = {
  background: "#ababab",
  interval: 4000
};

export default {
  created: function() {
    api.advertisment.get
      .getAdvertisment(this.$route.params.id)
      .then(response => {
        this.advert = response.data;
      });
  },
  computed: {
    creationDate() {
      return new Date(this.advert.creationDate).toLocaleDateString();
    },
    editDate() {
      return new Date(this.advert.editDate).toLocaleDateString();
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
    enlargeImg(img) {
      var modal = document.getElementById("myModal");
      modal.classList.remove("hidden");
      document.getElementById("img01").src = img;
      var span = document.getElementsByClassName("close-button")[0];
      span.addEventListener("click", () => {
        modal.classList.add("hidden");
      });
    }
  },
  data() {
    return {
      advert: null,
      slide: 0,
      sliding: null,
      placeholderImage,
      carouselStyle
    };
  }
};
</script>

<style>
.advert-container {
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background-color: lightgrey;
  border: 1.5px solid black;
  max-width: 1000px;
}

.header {
  font-size: 30pt;
  text-align: center;
}

.header-sm {
  font-size: 12pt;
  text-align: center;
  white-space: pre;
}

.color-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
  border: 1px solid black;
}

.advert-info {
  padding-left: 50px;
  font-size: 16pt;
  line-height: 40px;
}

.description-header {
  font-size: 25pt;
  text-align: center;
}

.description {
  line-height: 30px;
  font-size: 14pt;
  padding-top: 10px;
}

.carousel {
  text-shadow: 1px 1px 2px #333;
}

.card-car {
  background-color: rgba(235, 235, 235, 0.966);
  width: 90%;
  height: 100%;
  margin: 20px auto 20px auto;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: flex-end;
  flex-basis: 30%;
}
.card-lonely {
  flex-basis: 85%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-info {
  margin-top: 0px;
}

.card-bottom {
  margin-top: 50px;
}

.img-fluid {
  margin: auto;
  width: initial !important;
  height: 400px;
}

.img-container {
  flex: 0 0 56%;
  max-width: initial;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}

/* The Modal (background) */
.modal-image {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: initial;
  max-width: 1000px;
  max-height: 600px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close-button {
  position: absolute;
  top: 110px;
  right: 10%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
</style>