<template>
  <form method="post" enctype="multipart/form-data" v-on:submit.prevent="uploadImages">
    <label id="largeFile" for="file">
      <input name="images" @change="submitForm" hidden multiple type="file" id="file" />
      <button ref="subButton" hidden type="submit"></button>
    </label>
  </form>
</template>

<script>
import api from "../../api";

export default {
  created: function(){

  },
  methods: {
    onInput: function(event) {
      this.$emit("input", event.target.value);
    },
    uploadImages: function(event) {
      var data = new FormData(event.target)
      api.advertisment.post.uploadImages(data)
      .then(response => {
        this.files = response.data
      })
    },
    submitForm: function() {
      this.$refs.subButton.click()
    }
  },
  watch: {
    files: function(){
      this.$emit('input', this.files)
    }
  },
  data() {
    return {
      files: []
    };
  }
};
</script>

<style>
* {border:0;outline:0;}

label#largeFile:after {
  display: block;
  width:300px;
  max-width:800px;
  content:"Upload your file";
  left:0;
  right:0;
  text-align:center;
  padding:50px 0px 50px 0px;
  border-radius:10px;
  border:5px dashed #ccc;
  color:#ccc;
  font-family:"Helvetica Neue", Helvetica, Arial;
  font-size:30px; 
}

label#largeFile:hover:after {
  background:#ccc;
  color:#fff;
  cursor:pointer;
}


label#largeFile input#file {
    width: 0px;
    height: 0px;
}
</style>