<template>
  <span>
    <app-drop-down
      :originalValue="originalBrand"
      :placeholder="consts.Brand"
      v-model="selectedBrand"
      :selects="brands"
    ></app-drop-down>
    <app-drop-down
      :originalValue="originalModel"
      :placeholder="consts.Model"
      v-model="selectedModel"
      :selects="models"
    ></app-drop-down>
  </span>
</template>

<script>
import api from "../../api";
import AppDropDown from "../Basic/AppDropDown";
import { integer, required } from "vuelidate/lib/validators";

const consts = {
  Brand: "Choose brand",
  Model: "Choose model"
};

export default {
  components: {
    AppDropDown: AppDropDown
  },
  validations: {
    selectedBrand: {
      required
    },
    selectedModel: {
      required
    }
  },
  props: {
    brand: {
      type: String,
      default: ""
    },
    model: {
      type: String,
      default: ""
    }
  },
  computed: {
    isModelDropDownDisabled() {
      return this.selectedBrand == "" && this.originalModel == "";
    }
  },
  methods: {
    fetchBrands: function() {
      api.home.get.getAllBrands().then(response => {
        response.data.forEach(element => {
          var data = {
            Id: element.brandId,
            Display: element.brandName
          };
          this.brands.push(data);
        });
      });
    },
    fetchModels: function(data) {
      this.models = [];
      data.forEach(element => {
        var data = {
          Id: element.carModelId,
          Display: element.carModelName
        };
        this.models.push(data);
      });
      this.selectedModel = "";
    }
  },
  created: function() {
    this.fetchBrands();
  },
  watch: {
    selectedBrand: function() {
      this.selectedModel = "";
      this.originalModel = "";

      api.home.get.getModels(this.selectedBrand).then(response => {
        this.fetchModels(response.data);
      });
      var data = {
        brand: this.selectedBrand,
        model: this.selectedModel
      };
      this.$emit("input", data);
    },
    selectedModel: function() {
      var data = {
        brand: this.selectedBrand,
        model: this.selectedModel
      };
      this.$emit("input", data);
    },
    brand: function() {
      this.originalBrand = this.brand;
    },
    models: function() {
      this.originalModel = this.model;
    }
  },
  data() {
    return {
      brands: [],
      models: [],
      selectedBrand: "",
      selectedModel: "",
      originalBrand: "",
      originalModel: "",
      consts
    };
  }
};
</script>

<style>
</style>