<template>
  <div ref="container" class="ads-container">
    <div :ref="'ad_' + ad.adId" v-for="(ad, index) in ads" :key="index">
      <router-link class="ref" :to="link + '/' + ad.adId">
        <ad-card :advert="ad"></ad-card>
      </router-link>
      <icon @click="showModal(ad.adId)" v-if="edit" :icon="'times'" class="mr-2 icon icon-delete"/>
      <icon @click="editAd(ad.adId)" v-if="edit" :icon="'edit'" class="mr-2 icon icon-edit"/>
    </div>
    <b-pagination
      v-if="ads.length != 0"
      size="md"
      :align="'center'"
      :per-page="10"
      :total-rows="totalRows"
      v-model="currentPage"
    ></b-pagination>
    <b-modal centered ref="confirm" hide-footer id="confirm" size="sm" title="Confirmation">
      <span>Are you sure?</span>
      <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">Delete</b-btn>
    </b-modal>
  </div>
</template>

<script>
import api from "../../api";
import { routes, routeNames } from "../../router/routes";
import AdCard from "../Catalog/CatalogAdCard";
import bPagination from "bootstrap-vue/es/components/pagination/pagination";

export default {
  components: {
    AdCard,
    "b-pagination": bPagination
  },
  props: {
    ads: {
      type: Array,
      required: true
    },
    totalRows: {
      type: Number,
      required: true
    },
    link: {
      type: String,
      default: "#"
    },
    edit: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    deleteAd(id) {
      api.advertisment.delete.deleteAd(id).then(response => {
        if (response.data == true) {
          this.$emit("delete");
        }
      });
    },
    showModal(id) {
      this.$refs.confirm.value = id;
      this.$refs.confirm.show();
    },
    hideModal() {
      this.deleteAd(this.$refs.confirm.value);
      this.$refs.confirm.hide();
    },
    editAd(id) {
      this.$router.push({ name: this.routeNames.EditPage, params: { id: id } });
    }
  },
  watch: {
    currentPage: function() {
      this.$emit("input", this.currentPage);
    }
  },
  data() {
    return {
      currentPage: 1,
      routeNames
    };
  }
};
</script>

<style>
.ads-container {
  margin-top: 10px;
}

.ref {
  color: black;
  text-decoration: none;
}

.ref:hover {
  color: #000;
}

.icon {
  position: absolute;
  margin-top: 70px;
  cursor: pointer;
}

.icon-delete {
  margin-top: 50px;
  color: #eb0c0c;
}

.page-link {
  color: #4a4a4a;
}

.page-item.active .page-link {
  background-color: #6c757d;
  color: white;
  border-color: #6c757d;
}

.page-link:hover {
  color: #4a4a4a;
}

th {
  border-bottom: initial !important;
}
</style>