<template>
  <div class="card">
    <img class="img" :src="getImage">
    <p class="card-header">
      <span>{{ advert.brand }}</span>
      <span>{{ advert.carModel }}</span>
      <span>{{ advert.carType }}</span>
      <span>{{ advert.carYear }}</span>
    </p>
    <p class="info">
      <span>Owner: {{ advert.owner }} | Phone: {{ advert.phoneNumber }}</span>
      <br>
      <span>
        Cost: {{ advert.carCost }}$ | Color:
        <span
          class="color-box"
          :style="{ background: advert.carColor }"
        ></span>
      </span>
      <br>
      <span>Fuel type: {{ advert.fuelType }} | Mileage: {{ advert.mileage }} km</span>
      <br>
      <span>Transmission: {{ advert.transmission }}</span>
      <br>
      <span>Engine: {{ advert.engine }} L</span>
    </p>
  </div>
</template>

<script>
export default {
  computed: {
    getImage: function() {
      return this.advert.images.length == 0
        ? "https://s3.eu-central-1.amazonaws.com/carheaven/placeholder.png"
        : this.advert.images[0];
    }
  },
  props: {
    advert: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {};
  }
};
</script>

<style>
/** {
    -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
  }*/

.card {
  display: inline-block;
  background: rgb(230, 230, 230);
  width: 700px;
  height: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px 3px;
  margin: 50px 5px 10px 185px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
}

.img {
  width: 43%;
  height: 95%;
  padding-left: 10px;
  padding-top: 10px;
}

.card-header {
  width: 395px;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
}

.info {
  margin-top: 5px;
  margin-left: 5px;
  display: inline-table;
  font-size: 10pt;
}

.color-box {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 3px;
  border: 1px solid black;
}
</style>
