<template>
  <div class="container">
    <div>
      <div class="main-dropdowns">
        <model-filter class="first-dropdown" v-model="carInfo"></model-filter>
        <app-drop-down :placeholder="placeholders.Type" v-model="selectedType" :selects="types"></app-drop-down>
        <app-button @click="fetchAds" class="searchButton" :text="searchButtonText"></app-button>
      </div>
      <span class="first">Year range:</span>
      <app-drop-down
        :selects="getAvailableYearsFrom"
        :placeholder="placeholders.From"
        v-model="yearFrom"
      ></app-drop-down>-
      <app-drop-down
        :selects="getAvailableYearsTo"
        :placeholder="placeholders.To"
        v-model="yearTo"
        class="input-last"
      ></app-drop-down>
      <span>Price range:</span>
      <app-input
        class="input-catalog"
        :maxLength="8"
        :error="$v.priceFrom.$invalid"
        v-model="priceFrom"
        :text="placeholders.From"
      ></app-input>-
      <app-input
        class="input-catalog"
        :maxLength="8"
        :error="$v.priceTo.$invalid || !isGreater && priceTo != ''"
        v-model="priceTo"
        :text="placeholders.To"
      ></app-input>
      <div class="center">
        <app-button
          @click="changeSortDate()"
          class="inline"
          :text="placeholders.SortDate"
          :icon="getSortDateIcon"
        ></app-button>
        <app-button
          @click="changeSortYear()"
          class="inline"
          :text="placeholders.SortYear"
          :icon="getSortYearIcon"
        ></app-button>
        <app-button
          @click="changeSortPrice()"
          class="inline"
          :text="placeholders.SortPrice"
          :icon="getSortPriceIcon"
        ></app-button>
      </div>
    </div>
    <advert-list v-model="currentPage" :totalRows="searchNumber" :ads="ads" :link="'advert'"></advert-list>
    <no-results class="noresults" v-if="ads.length == 0"></no-results>
  </div>
</template>

<script>
import api from "../../api";
import AdvertList from "./AdvertList";
import AppButton from "../Basic/AppButton";
import AppDropDown from "../Basic/AppDropDown";
import AppInput from "../Basic/AppInput";
import NoResults from "./NoResults";
import BrandModelFilter from "../Advertisment/ModelFilter";
import { enums } from "../../enums/enums";
import {
  required,
  integer,
  minValue,
  or,
  maxLength,
  and,
  requiredUnless,
  requiredIf
} from "vuelidate/lib/validators";

const placeholders = {
  Type: "Choose type",
  From: "From",
  To: "To",
  SortDate: "Sort by creation date",
  SortYear: "Sort by year",
  SortPrice: "Sort by price"
};

const firstYear = 1970;

export default {
  components: {
    AppDropDown: AppDropDown,
    AppButton: AppButton,
    AppInput: AppInput,
    NoResults: NoResults,
    ModelFilter: BrandModelFilter,
    AdvertList
  },
  computed: {
    isGreater() {
      return (
        parseInt(this.priceFrom) <= parseInt(this.priceTo) ||
        this.priceFrom == ""
      );
    },
    getSortDateIcon() {
      if (this.sortType != enums.SortType.EditDate) {
        return "sort";
      }

      return this.sortDirection == enums.SortDirection.Down ? "sort-down" : "sort-up";
    },
    getSortYearIcon() {
      if (this.sortType != enums.SortType.Year) {
        return "sort";
      }

      return this.sortDirection == enums.SortDirection.Down ? "sort-down" : "sort-up";
    },
    getSortPriceIcon() {
      if (this.sortType != enums.SortType.Price) {
        return "sort";
      }

      return this.sortDirection == enums.SortDirection.Down ? "sort-down" : "sort-up";
    },
    getAvailableYearsTo() {
      if (this.yearFrom != "") {
        var arr = this.years
          .reverse()
          .slice(this.years.indexOf(parseInt(this.yearFrom)));
        this.years.reverse();

        return arr.reverse();
      } else {
        return this.years;
      }
    },
    getAvailableYearsFrom() {
      var result = [];
      if (this.yearTo != "") {
        var arr = this.years.slice(this.years.indexOf(parseInt(this.yearTo)));

        return arr;
      } else {
        return this.years;
      }
    },
    searchButtonText() {
      return "Search (" + this.searchNumber + ")";
    }
  },
  validations: {
    priceFrom: {
      integer
    },
    priceTo: {
      integer
    }
  },
  data() {
    return {
      carInfo: { brand: "", model: "" },
      types: [],
      ads: [],
      years: this.$store.getters.getYears,
      selectedType: "",
      searchNumber: 0,
      firstYear: firstYear,
      yearFrom: "",
      yearTo: "",
      priceFrom: "",
      priceTo: "",
      sortType: enums.SortType.EditDate,
      sortDirection: enums.SortDirection.Down,
      currentPage: 1,
      placeholders: placeholders
    };
  },
  created: function() {
    this.fetchTypes();
    this.getSearchNumber();
    this.getAds();
  },
  methods: {
    getAds: function() {
      this.currentPage = 1;
      this.fetchAds();
    },
    fetchAds: function() {
      if (
        this.$v.priceFrom.$invalid ||
        (this.$v.priceTo.$invalid || (!this.isGreater && this.priceTo != ""))
      ) {
        return;
      }

      api.advertisment.post
        .getSearchAds(
          this.currentPage,
          this.carInfo.brand,
          this.carInfo.model,
          this.selectedType,
          this.yearFrom,
          this.yearTo,
          this.priceFrom,
          this.priceTo,
          this.sortType,
          this.sortDirection
        )
        .then(response => {
          this.ads = response.data;
          scroll(0, 0);
        });
    },
    fetchTypes: function(data) {
      this.types = [];
      api.home.get.getCarTypes().then(response => {
        response.data.forEach(element => {
          var data = {
            Id: element.carTypeId,
            Display: element.carTypeName
          };
          this.types.push(data);
        });
      });
    },
    getSearchNumber: function() {
      if (
        this.$v.priceFrom.$invalid ||
        (this.$v.priceTo.$invalid || (!this.isGreater && this.priceTo != ""))
      ) {
        return;
      }

      api.advertisment.post
        .getSearchNumber(
          this.carInfo.brand,
          this.carInfo.model,
          this.selectedType,
          this.yearFrom,
          this.yearTo,
          this.priceFrom,
          this.priceTo
        )
        .then(response => {
          this.searchNumber = response.data;
        });
    },
    changeSortDate: function() {
      if (this.sortType == enums.SortType.EditDate) {
        this.changeSortDirection();
      } else {
        this.sortType = enums.SortType.EditDate;
        this.sortDirection = enums.SortDirection.Down;
      }
      this.getAds();
    },
    changeSortYear: function() {
      if (this.sortType == enums.SortType.Year) {
        this.changeSortDirection();
      } else {
        this.sortType = enums.SortType.Year;
        this.sortDirection = enums.SortDirection.Down;
      }
      this.getAds();
    },
    changeSortPrice: function() {
      if (this.sortType == enums.SortType.Price) {
        this.changeSortDirection();
      } else {
        this.sortType = enums.SortType.Price;
        this.sortDirection = enums.SortDirection.Down;
      }
      this.getAds();
    },
    changeSortDirection: function() {
      if (this.sortDirection == enums.SortDirection.Down) {
        this.sortDirection = enums.SortDirection.Up;
      } else {
        this.sortDirection = enums.SortDirection.Down;
      }
    }
  },
  watch: {
    carInfo: function() {
      this.getSearchNumber();
    },
    selectedType: function() {
      this.getSearchNumber();
    },
    yearFrom: function() {
      this.getSearchNumber();
    },
    yearTo: function() {
      this.getSearchNumber();
    },
    priceFrom: function() {
      this.getSearchNumber();
    },
    priceTo: function() {
      this.getSearchNumber();
    },
    currentPage: function() {
      this.fetchAds();
    }
  }
};
</script>

<style>
.container {
  margin-top: 50px;
}

.main-dropdowns {
  margin-top: -10px;
  margin-bottom: 20px;
}

.first {
  margin-left: 230px;
}

.input-last {
  margin-right: 10px;
}

.input-catalog {
  display: inline-flex;
  width: 130px !important;
}

.first-dropdown {
  margin-left: 250px;
}

.searchButton {
  display: inline;
}

.btn {
  vertical-align: bottom;
}

.noresults {
  margin-top: 100px;
  text-align: center;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.ref {
  color: black;
  text-decoration: none;
}

.ref:hover {
  color: #000;
}
</style>
