﻿<template>
  <div>
    <button @click="emitEvent($event)" type="button" class="btn btn-secondary">
      {{text}}
      <icon v-if="isIconDefined" :icon="icon"/>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: "Save"
    },
    icon: {
      type: String,
      default: ""
    }
  },
  computed: {
    isIconDefined() {
      return this.icon != '';
    }
  },
  methods: {
    emitEvent(event) {
      this.$emit("click");
    }
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>