<template>
  <span class="custom-dropdown">
    <select ref="dropDown" @change="handleChange" :disabled="disabled">
      <option v-if="isPlaceholderEmpty" value="">{{placeholder}}</option>
      <option
        :id="createOriginalId(select)"
        :value="checkInputId(select)"
        v-for="(select, index) in selects"
        :key="index"
      >{{checkInputDisplay(select)}}</option>
    </select>
  </span>
</template>

<script>
export default {
  props: {
    selects: {
      type: Array
    },
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: [String, Number],
      default: ""
    },
    originalValue: {
      type: [String, Number],
      default: ""
    },
    placeholder: {
      type: String,
      default: ""
    }
  },
  computed: {
    isPlaceholderEmpty() {
      return this.placeholder != "";
    }
  },
  methods: {
    handleChange: function(event) {
      this.$emit("input", event.target.value);
    },
    checkInputDisplay: function(element) {
      if (element.Display == undefined) {
        return element;
      } else {
        return element.Display;
      }
    },
    checkInputId: function(element) {
      if (element.Id == undefined) {
        return element;
      } else {
        return element.Id;
      }
    },
    createOriginalId: function(element) {
      if (element.Display == undefined) {
        return element;
      } else {
        return element.Display;
      }
    },
    insertValue: function() {
      if (document.getElementById(this.originalValue) != null) {
        this.$refs.dropDown.selectedIndex = document.getElementById(
          this.originalValue
        ).index;
        this.$emit("input", this.$refs.dropDown.value);
      }
    }
  },
  watch: {
    originalValue: function() {
      if (this.originalValue == "") {
        this.$refs.dropDown.selectedIndex = "0";
      } else {
        this.insertValue();
      }
    }
  },
  updated: function() {
    this.insertValue();
  },
  data() {
    return {};
  }
};
</script>

<style>
.square {
  width: 0.7em;
  height: 0.7em;
  margin: 0.5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown select {
  background-color: #7f8c8d;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}
</style>