﻿<template>
  <div class="input-group mb-3 input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">{{ text }}</span>
    </div>
    <input
      :maxlength="maxLength"
      :class="{ 'error-input': error }"
      :value="value"
      @input="onInput"
      :type="type"
      class="form-control"
    >
  </div>
</template>

<script>
const defaultMaxLength = 64;

export default {
  props: {
    text: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: "text"
    },
    value: {
      type: [String, Number]
    },
    error: {
      type: Boolean,
      default: false
    },
    maxLength: {
      type: Number,
      default: defaultMaxLength
    }
  },
  methods: {
    onInput: function(event) {
      this.$emit("input", event.target.value);
    }
  },
  data() {
    return {
      defaultMaxLength: defaultMaxLength
    };
  }
};
</script>

<style>
.error-input {
  border: #ff3b1d solid 1px;
}
</style>
