<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">{{header}}</slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <app-drop-down class="dropDown" :selects="enums.StatusTypes" v-model="status"></app-drop-down>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <app-button
                class="left-align modal-default-button"
                :text="placeholders.CancelButtonText"
                @click="$emit('close')"
              ></app-button>
              <app-button class="modal-default-button" :text="placeholders.ChangeStatusButtonText" @click="close()"></app-button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import AppDropDown from "./AppDropDown";
import AppButton from "./AppButton";
import { enums } from "../../enums/enums";

const placeholders = {
  ChangeStatusButtonText: 'Change',
  CancelButtonText: 'Cancel'
}

export default {
  components: {
    AppDropDown,
    AppButton
  },
  props: {
    header: {
      type: String,
      required: true
    }
  },
  methods: {},
  data() {
    return {
      status: 0,
      placeholders,
      enums
    };
  },
  methods: {
    close() {
      this.$emit("input", this.status);
    }
  }
};
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  margin-top: 0;
  justify-content: center;
}

.modal-body {
  margin: 20px 0;
  text-align: center
}

.modal-footer {
  justify-content: space-between;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.dropDown > select {
  width: 200px;
}
</style>