<template>
    <h2 class="title">
      <span>Thank you for confirming account</span>
    </h2>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style>
.title {
  margin-top: 50px;
  margin-left: 15%;
  text-align: center;
}
</style>