<template>
    <h2 class="title">
      <span>Link is invalid or expired</span><br>
      <app-button @click="renew()" class="renew-button" :text="'Renew'"></app-button>
    </h2>
</template>

<script>
import AppButton from "../Basic/AppButton";
import api from "../../api";

export default {
  components: {
    AppButton: AppButton
  },
  methods: {
    renew() {
      api.authorization.get.renew(this.$route.query.id)
    }
  },
  data() {
    return {};
  }
};
</script>

<style>
.title {
  margin-top: 50px;
  text-align: center;
}
.renew-button{
  margin-top: 20px;
}
</style>