﻿<template>
  <div class="login-form">
    <form>
      <app-input v-model="email" :type="'email'" class="input first-input" :text="inputLabels.emailInput"></app-input>
      <div class="error" v-if="!$v.email.required && error">Field is required</div>
      <div class="error" v-if="!$v.email.email && error">Field must be email</div>
      <app-input
        v-model="password"
        :type="'password'"
        class="input"
        :text="inputLabels.passwordInput"
      ></app-input>
      <div class="error" v-if="!$v.password.required && error">Field is required</div>
      <div class="error" v-if="!$v.password.minLength && error">Minimum length: 8</div>
      <div class="error" v-if="loginStatus == 'error'">Invalid data</div>
      <div class="error" v-if="blocked">You're blocked</div>
      <app-button @click="logIn()" :text="'Sign in'" class="btn-div"></app-button>
    </form>
  </div>
</template>

<script>
import api from "../../api";
import { routes, routeNames } from "../../router/routes";
import AppButton from "../Basic/AppButton";
import AppInput from "../Basic/AppInput";
import { required, minLength, email } from "vuelidate/lib/validators";

const inputLabels = {
  emailInput: "Email",
  passwordInput: "Password"
};

const functions = {
  MAKE_NAME: "MAKE_NAME",
  MAKE_ID: "MAKE_ID",
  MAKE_ADMIN: "MAKE_ADMIN"
};

export default {
  components: {
    AppButton: AppButton,
    AppInput: AppInput
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    }
  },
  created: function() {
    if (this.$store.getters.getUserName != "") {
      this.$router.push({ name: routeNames.NotFound });
    }
  },
  methods: {
    logIn() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.$route.name == routeNames.SignUpAdmin) {
          api.authorization.post
            .logInAdmin(this.email, this.password)
            .then(response => {
              this.fetchData(response.data);
              this.$router.push({ name: routeNames.Home });
            })
            .catch(error => {
              this.changeStatus("error");
            });
        } else {
          api.authorization.post
            .logInUser(this.email, this.password)
            .then(response => {
              this.fetchData(response.data);
              this.$router.push({ name: routeNames.Home });
            })
            .catch(error => {
              if (error.response.status == 400) {
                this.blocked = true;
              } else {
                this.blocked = false;
                this.changeStatus("error");
              }
            });
        }
      } else {
        this.error = true;
      }
    },
    changeStatus(val) {
      this.loginStatus = val;
    },
    fetchData(data) {
      this.$store.commit(
        this.functions.MAKE_NAME,
        data.firstName + " " + data.lastName
      );
      this.$store.commit(this.functions.MAKE_ID, data.userId);
      if (this.$route.name == routeNames.SignUpAdmin) {
        this.$store.commit(this.functions.MAKE_ADMIN);
      }
    }
  },
  data() {
    return {
      blocked: false,
      error: false,
      email: "",
      password: "",
      loginStatus: "",
      inputLabels,
      functions
    };
  }
};
</script>

<style>
.login-form {
  border-radius: 5%;
  margin: auto;
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  background-color: rgb(214, 214, 214);
  margin-top: 50px;
}

.input {
  width: 80%;
  margin: auto;
}

.btn-div {
  text-align: center;
}

.first-input {
  padding-top: 15px;
}

.error {
  margin: auto;
  color: #ff2f0f;
  font-size: 0.75rem;
  line-height: 1;
  margin-left: 35px;
  margin-top: -0.9rem;
  margin-bottom: 0.9375rem;
}
</style>