﻿<template>
  <div class="register-form">
    <form>
      <app-input
        :error="!$v.firstName.notTrimEmpty && error"
        v-model="firstName"
        class="input first-input"
        :text="inputLabels.firstNameInput"
      ></app-input>
      <div class="error" v-if="!$v.firstName.notTrimEmpty && error">Field is required</div>
      <app-input
        :error="!$v.lastName.notTrimEmpty  && error"
        v-model="lastName"
        class="input"
        :text="inputLabels.lastNameInput"
      ></app-input>
      <div class="error" v-if="!$v.lastName.notTrimEmpty && error">Field is required</div>
      <app-input
        :error="!$v.phoneNumber.$model && error"
        v-model="phoneNumber"
        class="input"
        :text="inputLabels.phoneInput"
      ></app-input>
      <div class="error" v-if="!$v.phoneNumber.required && error">Field is required</div>
      <div class="error" v-if="!$v.phoneNumber.minLength && error">Minimum length: 6</div>
      <app-input
        :error="!$v.email.$model && error"
        v-model="email"
        :type="'email'"
        class="input"
        :text="inputLabels.emailInput"
      ></app-input>
      <div class="error" v-if="!$v.email.required && error">Field is required</div>
      <div class="error" v-if="!$v.email.email && error">Field must be email</div>
      <div class="error" v-if="emailError">Email is already registered</div>
      <app-input
        :error="!$v.password.$model && error"
        v-model="password"
        :type="'password'"
        class="input"
        :text="inputLabels.passwordInput"
      ></app-input>
      <div class="error" v-if="!$v.password.required && error">Field is required</div>
      <div class="error" v-if="!$v.password.minLength && error">Minimum length: 8</div>
      <app-button @click="registerUser()" :text="buttonText" :class="inputStyle"></app-button>
      <user-status-drop-down v-model="role"></user-status-drop-down>
    </form>
  </div>
</template>

<script>
import api from "../../api";
import AppButton from "../Basic/AppButton";
import AppInput from "../Basic/AppInput";
import AppDropDown from "../Basic/AppDropDown";
import UserStatusDropDown from "../User/UserStatusDropDown"
import { enums } from "../../enums/enums";
import { routes, routeNames } from "../../router/routes";
import { required, minLength, email } from "vuelidate/lib/validators";

const inputLabels = {
  firstNameInput: "First name",
  lastNameInput: "Last name",
  emailInput: "Email",
  passwordInput: "Password",
  phoneInput: "Phone number",
  role: "Role",
  signUpText: "Sign up",
  createText: "Create"
};

const notTrimEmpty = value => value.trim() != "";

export default {
  components: {
    AppButton,
    AppInput,
    AppDropDown,
    UserStatusDropDown
  },
  props: {},
  validations: {
    firstName: {
      notTrimEmpty
    },
    lastName: {
      notTrimEmpty
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    },
    phoneNumber: {
      required,
      minLength: minLength(6)
    }
  },
  created: function() {
    if (this.$store.getters.getUserName != "" && !this.$store.getters.isAdmin) {
      this.$router.push({ name: routeNames.NotFound });
    }
  },
  computed: {
    inputStyle() {
      return this.$store.getters.isAdmin ? "inline inline-input" : "btn-div";
    },
    buttonText() {
      return this.$store.getters.isAdmin
        ? this.inputLabels.createText
        : this.inputLabels.signUpText;
    }
  },
  methods: {
    registerUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        api.authorization.post
          .registerUser(
            this.firstName.trim(),
            this.lastName.trim(),
            this.phoneNumber.trim(),
            this.email.trim(),
            this.password,
            this.role
          )
          .then(response => {
            if (this.$store.getters.isAdmin) {
              this.$router.push({ name: routeNames.UserManager });
            } else {
              this.$router.push({ name: routeNames.Catalog });
            }
          })
          .catch(error => {
            if (error.response.status == 409) {
              this.emailError = true;
            }
          });
      } else {
        this.error = true;
      }
    }
  },
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      phoneNumber: "",
      role: 1,
      error: false,
      emailError: false,
      inputLabels,
      enums
    };
  }
};
</script>

<style>
.register-form {
  border-radius: 5%;
  margin: auto;
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  background-color: rgb(214, 214, 214);
  margin-top: 50px;
}

.inline {
  display: inline;
}

.inline-input {
  margin-left: 40px;
}

.input {
  width: 80%;
  margin: auto;
}

.btn-div {
  text-align: center;
}

.first-input {
  padding-top: 15px;
}

.error {
  margin: auto;
  color: #ff2f0f;
  font-size: 0.75rem;
  line-height: 1;
  margin-left: 35px;
  margin-top: -0.9rem;
  margin-bottom: 0.9375rem;
}
</style>