<template>
    <h2 class="title">
      <span> Congratulations on creating account</span><br>
      <span> Please confirm your account on your email</span>
    </h2>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style>
.title {
  margin-top: 50px;
  margin-left: 15%;
  text-align: center;
}
</style>
