<template>
  <div id="app">
    <navbar params="route: route"></navbar>
    <div class="row">
      <!-- <div class="col-md-0">
      </div>-->
      <div class="col-sm-12">
        <router-view
          :isEdit="this.$route.name == routeNames.EditPage"
          v-on:update-navbar="update = true"
        ></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar";
import Catalog from "./Catalog/Catalog";
import api from "../api";
import { routes, routeNames } from "../router/routes";

const functions = {
  MAKE_NAME: "MAKE_NAME",
  MAKE_ID: "MAKE_ID",
  MAKE_ADMIN: "MAKE_ADMIN"
};

const userRoleId = 1;

export default {
  components: {
    navbar: NavBar,
    catalog: Catalog
  },
  beforeCreate: function() {
    api.authorization.get.checkUser().then(response => {
      if (response.data.firstName != undefined) {
        this.$store.commit(
          this.functions.MAKE_NAME,
          response.data.firstName + " " + response.data.lastName
        );
        this.$store.commit(this.functions.MAKE_ID, response.data.userId);
        if (response.data.role != this.userRoleId) {
          this.$store.commit(this.functions.MAKE_ADMIN);
        }
      }
    });
  },
  data() {
    return {
      functions,
      routeNames,
      userRoleId
    };
  }
};
</script>

<style>
body {
  background-color: #a5a5a5;
}

.row {
  margin-top: 50px;
  width: 100%;
}
</style>
