<template>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <router-link :to="'/'">
        <span class="navbar-brand">CarHeaven</span> 
    </router-link>
    <ul class="navbar-nav">
      <li class="nav-item" :class="{ 'ml-auto': route.name == 'sign-in' }" v-if="isDisplayed(route)" v-for="(route, index) in routes" :key="index">
          <router-link :to="route.path" class="nav-link">
              <icon v-if="route.icon != ''" :icon="route.icon" class="mr-2" /><span>{{ route.display }}</span> 
          </router-link>
      </li>
      <li class="nav-item" v-if="isAuthorized() && !$store.getters.isAdmin" >
        <router-link :to="'/' + routeNames.AdCreationPage" class="nav-link">Create advertisment</router-link>
      </li>
      <li class="nav-item" v-if="$store.getters.isAdmin" >
        <router-link :to="'/' + routeNames.UserManager" class="nav-link">Manage users</router-link>
      </li>
      <li class="nav-item ml-auto" v-if="isAuthorized()" >
        <router-link :to="'/' + routeNames.UserPage" class="nav-link">{{ this.$store.getters.getUserName }}</router-link>
      </li>
      <li class="nav-item" v-if="isAuthorized()" >
        <span @click="signOut()" class="nav-link clickable">Sign out</span>
      </li>
    </ul>
  </nav>
</template>

<script>
import Vue from "vue";
import api from "../api";
import { routes, routeNames } from "../router/routes";

const functions = {
  RESET_NAME: 'RESET_NAME',
  RESET_ADMIN: 'RESET_ADMIN'
}

export default {
  methods: {
    isDisplayed(route) {
      if (
        (route.display != "none" && !this.isAuthorized()) ||
        route.name == routeNames.Catalog
      )
        return true;
    },
    isAuthorized() {
      if (this.$store.getters.getUserName != "") {
        return true;
      }
    },
    signOut() {
      api.authorization.get.signOut();
      this.clearData();
    },
    clearData() {
      this.$store.commit(functions.RESET_NAME);
      this.$store.commit(functions.RESET_ADMIN);
    }
  },
  data() {
    return {
      routes,
      routeNames
    };
  }
};
</script>

<style>
.navbar {
  display: -webkit-box;
}

.navbar-nav {
  width: 92%;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar a {
  overflow: initial;
}

.clickable {
  cursor: pointer;
}
</style>
