<template>
  <div style="margin-top: 100px">
    <div class="error-404">404</div>
    <br /><br />
    <span class="info-404">File not found</span>
    <img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" />
  </div>
</template>

<script>
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

.error-404 {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  -webkit-animation: noise 2s linear infinite;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error-404:after {
  content: "404";
  font-family: "Gilda Display", serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  -webkit-animation: noise-1 0.2s linear infinite;
  animation: noise-1 0.2s linear infinite;
}

.info-404 {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: noise-3 1s linear infinite;
  animation: noise-3 1s linear infinite;
}

.error-404:before {
  content: "404";
  font-family: "Gilda Display", serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  -webkit-animation: noise-2 0.2s linear infinite;
  animation: noise-2 0.2s linear infinite;
}

@-webkit-keyframes noise-1 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}

@keyframes noise-1 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}

@-webkit-keyframes noise-2 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}

@keyframes noise-2 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}

@-webkit-keyframes noise {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(1.7);
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
}

@keyframes noise {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(1.7);
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
}

@-webkit-keyframes noise-3 {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(4);
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(10) rotate(60deg);
    transform: scaleX(10) rotate(60deg);
  }
}

@keyframes noise-3 {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(4);
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(10) rotate(60deg);
    transform: scaleX(10) rotate(60deg);
  }
}
</style>