<template>
  <div class="login-form">
    <form>
      <app-input v-model="firstName" class="input first-input" :text="inputLabels.firstNameInput"></app-input>
      <div class="error" v-if="!$v.firstName.required && error">Field is required</div>
      <app-input v-model="lastName" class="input" :text="inputLabels.lastNameInput"></app-input>
      <div class="error" v-if="!$v.lastName.required && error">Field is required</div>
      <app-input
        :error="!$v.phoneNumber.$model && error"
        v-model="phoneNumber"
        class="input"
        :text="inputLabels.phoneInput"
      ></app-input>
      <div class="error" v-if="!$v.phoneNumber.required && error">Field is required</div>
      <div class="error" v-if="!$v.phoneNumber.minLength && error">Minimum length: 6</div>
      <app-input v-model="email" :type="'email'" class="input" :text="inputLabels.emailInput"></app-input>
      <div class="error" v-if="!$v.email.required && error">Field is required</div>
      <div class="error" v-if="!$v.email.email && error">Field must be email</div>
      <div class="error" v-if="updateError">Error occured while updating</div>
      <app-button @click.native="updateUser()" class="btn-div"></app-button>
    </form>
    <app-button
      v-if="!$store.getters.isAdmin"
      @click="showUserCatalog()"
      class="adverts-button"
      :text="inputLabels.userAdvertTitle"
    ></app-button>
    <app-button
      v-if="$store.getters.isAdmin"
      @click="showUserManager()"
      class="adverts-button"
      :text="inputLabels.userManagerTitle"
    ></app-button>
  </div>
</template>

<script>
import api from "../../api";
import { routes, routeNames } from "../../router/routes";
import { functionNames } from "../../store";
import AppButton from "../Basic/AppButton";
import AppInput from "../Basic/AppInput";
import { required, minLength, email } from "vuelidate/lib/validators";

const inputLabels = {
  emailInput: "Email",
  firstNameInput: "First name",
  lastNameInput: "Last name",
  phoneInput: "Phone number",
  userAdvertTitle: "My advertisments",
  userManagerTitle: "Manage users"
};

export default {
  components: {
    AppButton: AppButton,
    AppInput: AppInput
  },
  validations: {
    email: {
      required,
      email
    },
    lastName: {
      required
    },
    firstName: {
      required
    },
    phoneNumber: {
      required,
      minLength: minLength(6)
    }
  },
  created: function() {
    api.authorization.get.checkUser().then(response => {
      this.firstName = response.data.firstName;
      this.lastName = response.data.lastName;
      this.email = response.data.email;
      this.phoneNumber = response.data.phoneNumber;
      this.userId = response.data.userId;
    });
    if (this.$store.getters.getUserName == "") {
      this.$router.push({ name: routeNames.NotFound });
    }
  },
  methods: {
    showUserCatalog() {
      this.$router.push({
        path: "/" + this.routeNames.UserAdverts + "/" + this.userId
      });
    },
    showUserManager() {
      this.$router.push({ path: "/" + this.routeNames.UserManager });
    },
    updateUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        api.user.post
          .updateUser(
            this.firstName,
            this.lastName,
            this.phoneNumber,
            this.email
          )
          .then(response => {
            if (response.data == true) {
              this.$store.commit(
                functionNames.MAKE_NAME,
                this.firstName + " " + this.lastName
              );
            }
          })
          .catch(error => {
            this.updateError = true;
          });
      } else {
        this.error = true;
      }
    }
  },
  data() {
    return {
      userId: "",
      updateError: false,
      error: false,
      email: "",
      firstName: "",
      lastName: "",
      phoneNumber: "",
      inputLabels,
      routeNames
    };
  }
};
</script>

<style>
.login-form {
  border-radius: 5%;
  margin: auto;
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  background-color: rgb(214, 214, 214);
  margin-top: 50px;
}

.input {
  margin: auto;
}

.btn-div {
  text-align: center;
}

.btn-div > button {
  width: 100px;
}

.first-input {
  padding-top: 15px;
}

.error {
  margin: auto;
  color: #ff2f0f;
  font-size: 0.75rem;
  line-height: 1;
  margin-left: 35px;
  margin-top: -0.9rem;
  margin-bottom: 0.9375rem;
}

.adverts-button > button {
  position: absolute;
  margin-top: 20px;
  width: 300px !important;
}
</style>