<template>
  <div class="container">
    <h2 class="owner">{{getOwner}}</h2>
    <advert-list
      @delete="updateAds"
      :edit="$route.params.id == id"
      v-model="currentPage"
      :totalRows="rows"
      :ads="ads"
      :link="consts.link"
    ></advert-list>
  </div>
</template>

<script>
import api from "../../api";
import { routes, routeNames } from "../../router/routes";
import AdvertList from "../Catalog/AdvertList";

const consts = {
  link: "/advert",
  ownerPlaceholder: "User has no advertisments yet or does not exist"
};

export default {
  components: {
    AdvertList
  },
  computed: {
    getOwner() {
      if (this.ads.length > 0) {
        return this.ads[0].owner + "'s advertisments";
      } else {
        return consts.ownerPlaceholder;
      }
    }
  },
  created: function() {
    this.fetchAds();
    this.getAdsNumber();
  },
  watch: {
    currentPage: function() {
      this.fetchAds();
    }
  },
  methods: {
    fetchAds() {
      api.advertisment.post
        .getUserAdvertisments(this.$route.params.id, this.currentPage)
        .then(response => {
          this.ads = response.data;
        });
    },
    getAdsNumber() {
      api.advertisment.get
        .getUserAdvertismentsNumber(this.$route.params.id)
        .then(response => {
          this.rows = response.data;
        });
    },
    updateAds() {
      this.fetchAds();
      this.getAdsNumber();
    }
  },
  data() {
    return {
      ads: [],
      consts,
      rows: 0,
      currentPage: 1,
      id: this.$store.getters.getUserId
    };
  }
};
</script>

<style>
.owner {
  text-align: center;
}

.container {
  margin-top: 50px;
}
</style>