<template>
  <span>
    <app-drop-down :selects="enums.RoleTypes" v-model="role"></app-drop-down>
  </span>
</template>

<script>
import AppDropDown from "../Basic/AppDropDown";
import { enums } from "../../enums/enums";

export default {
  components: {
    AppDropDown
  },
  methods: {},
  data() {
    return {
      role: 1,
      enums
    };
  },
  watch: {
    role: function() {
      this.$emit("input", this.role);
    }
  }
};
</script>

<style>
</style>