<template>
  <div class="table-container">
    <app-input v-model="searchText" class="search" :text="placeholders.Email"></app-input>
    <app-button @click="fetchUsers()" class="sort-button" :text="placeholders.Search"></app-button>
    <app-button
      @click="sortByRole()"
      class="sort-button"
      :text="placeholders.SortRole"
      :icon="sortIcon"
    ></app-button>
    <app-drop-down v-model="role" placeholder="Choose role" :selects="enums.RoleTypes"></app-drop-down>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <label class="form-checkbox">
              <input type="checkbox" v-model="selectAll" @click="select">
              <i class="form-icon"></i>
            </label>
          </th>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Number of Ads</th>
          <th>Creation Date</th>
          <th>Last Login Date</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="index">
          <td>
            <label class="form-checkbox">
              <input ref="checkbox" type="checkbox" :value="index" v-model="selected">
              <i class="form-icon"></i>
            </label>
          </td>
          <td>{{user.userId}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.adsCount}}</td>
          <td>{{getDateTime(user.dateCreated)}}</td>
          <td>{{getDateTime(user.lastLoginDate)}}</td>
          <td>{{getRoleName(user.role)}}</td>
          <td>{{getStatusName(user.status)}}</td>
        </tr>
      </tbody>
    </table>
    <app-button @click="showModal = true" class="status-button" :text="placeholders.ChangeStatus"></app-button>
    <app-button @click="createNewUser()" class="status-button" :text="placeholders.CreateNewUser"></app-button>
    <b-pagination
      v-if="users.length != 0"
      size="md"
      :align="'center'"
      :per-page="10"
      :total-rows="totalUsers"
      v-model="currentPage"
    ></b-pagination>
    <app-modal
      :header="placeholders.ModalHeader"
      v-if="showModal"
      v-model="status"
      @close="showModal = false"
    ></app-modal>
  </div>
</template>

<script>
import AppButton from "../Basic/AppButton";
import AppInput from "../Basic/AppInput";
import AppModal from "../Basic/AppModal";
import AppDropDown from "../Basic/AppDropDown";
import api from "../../api";
import { enums } from "../../enums/enums";
import { routes, routeNames } from "../../router/routes";

const placeholders = {
  SortRole: "Sort by role",
  Search: "Search",
  Email: "Email",
  ChangeStatus: "Change status",
  CreateNewUser: "Create new user",
  Null: "N/A",
  ModalHeader: "Change status"
};

export default {
  components: {
    AppButton,
    AppInput,
    AppModal,
    AppDropDown
  },
  created: function() {
    if (!this.$store.getters.isAdmin) {
      this.$router.push({ name: routeNames.NotFound });
    }

    this.fetchUsers();
  },
  computed: {
    sortIcon() {
      if (this.sortDirection == null) {
        return "sort";
      }

      return this.sortDirection == enums.SortDirection.Down
        ? "sort-down"
        : "sort-up";
    },
    checkedUsersIds() {
      var ids = [];
      this.selected.forEach(value => {
        ids.push(this.users[value].userId);
      });

      return ids;
    }
  },
  methods: {
    select() {
      console.log(this.$refs["checkbox"]);
      this.selectAll = !this.selectAll;
      if (this.selectAll) {
        this.selected = [];
        this.$refs["checkbox"].forEach(checkbox => {
          this.selected.push(checkbox.value);
        });
      } else {
        this.$refs["checkbox"].forEach(checkbox => {
          this.selected = [];
        });
      }
    },
    getRoleName(id) {
      return enums.RoleTypes[id - 1].Display;
    },
    getStatusName(id) {
      if (id == enums.Status.Blocked) {
        id--;
      }

      return enums.StatusTypes[id].Display;
    },
    sortByRole() {
      switch (this.sortDirection) {
        case null:
          this.sortDirection = enums.SortDirection.Down;
          break;
        case enums.SortDirection.Down:
          this.sortDirection = enums.SortDirection.Up;
          break;
        case enums.SortDirection.Up:
          this.sortDirection = null;
          break;
      }
      this.fetchUsers();
    },
    fetchUsers() {
      var data = {
        CurrentPage: this.currentPage,
        SortDirection: this.sortDirection,
        SearchText: this.searchText
      };
      api.user.post.getAllUsers(data).then(response => {
        this.users = response.data.searchResult;
        this.totalUsers = response.data.searchResultCount;
      });
    },
    changeStatus() {
      if (this.selected.length > 0) {
        var data = {
          UserIds: this.checkedUsersIds,
          Status: this.status
        };
        console.log(data);
        api.user.post.changeUsersStatus(data).then(response => {
          this.fetchUsers();
        });
      }
    },
    createNewUser() {
      this.$router.push({ name: routeNames.SignUp });
    },
    getAnotherStatus(id) {
      if (this.users[id].status == enums.Status.Active) {
        return enums.Status.Blocked;
      } else {
        return enums.Status.Active;
      }
    },
    getDateTime(date) {
      if (date == null) {
        return this.placeholders.Null;
      }

      return new Date(date).toLocaleDateString();
    }
  },
  data() {
    return {
      status: 0,
      users: [],
      selected: [],
      selectAll: false,
      searchText: "",
      sortDirection: null,
      totalUsers: 0,
      currentPage: 1,
      showModal: false,
      placeholders,
      role: null,
      enums
    };
  },
  watch: {
    status: function() {
      this.showModal = false;
      this.changeStatus();
    },
    role: function() {
      var data = {
        CurrentPage: 1,
        SortDirection: this.sortDirection,
        SearchText: "",
        Role: this.role
      };
      api.user.post.getAllUsers(data).then(response => {
        this.users = response.data.searchResult;
        this.totalUsers = response.data.searchResultCount;
      });
    }
  }
};
</script>

<style>
.table-container {
  padding: 30px;
}

.table {
  background-color: rgb(214, 214, 214);
  border: black solid 2px;
}

.status-button {
  display: inline;
}

.pagination {
  margin-top: -40px;
}

.form-checkbox {
  margin-bottom: 0;
}

.sort-button {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search {
  display: inline-flex;
  width: 250px !important;
}

.page-link {
  color: #4a4a4a;
}

.page-item.active .page-link {
  background-color: #6c757d;
  color: white;
  border-color: #6c757d;
}

.page-link:hover {
  color: #4a4a4a;
}

th {
  border-bottom: initial !important;
}
</style>